<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Storage</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Language</th>
        <th>Page Size</th>
        <th>Spams Filter</th>
        <th>Signature</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mail : ${mails}">
        <td th:text="${mail.getLanguage()}"></td>
        <td th:text="${mail.getPageSize()}"></td>
        <td th:text="${mail.isSpamFilter()}"></td>
        <td th:text="${mail.getSignature()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>